<div class="card">
    <p><%=@question%></p>
    <p class="speaker">-You</p>
</div>

<div class="card coach-card">
    <p><%=@answer%></p>
    <p class="speaker">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>