<div class="my-container">
<form method="get" action="/answer">
  <div class="form-group">
  <label for="question">Ask your coach anything:</label>
      <div class="input-group mb-3">
        <input type="text"  class="form-control" name="question" id="question">
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary" value="Ask!">
        </div>
      </div>
  </div>
  
</form>
</div>